:root {
    --mskcc-blue: #007cba;
    --mskcc-orange: #df4602;
    --mskcc-dark-blue: #006098;
    --mskcc-medium-blue: #319ae8;
    --mskcc-light-blue: #8fc7e8;
    --mskcc-dark-orange: #c24d00;
    --mskcc-medium-orange: #f29934;
    --mskcc-light-orange: #f6c65b;
    --mskcc-dark-violet: #83276b;
    --mskcc-light-violet: #b687b8;
    --mskcc-dark-magenta: #e92076;
    --mskcc-light-magenta: #efb3cb;
    --mskcc-red: #b1132d;
    --mskcc-dark-green: #4c8b2b;
    --mskcc-light-green: #a6ce39;
    --mskcc-dark-turquoise: #006c68;
    --mskcc-light-turquoise: #009490;
    --mskcc-dark-yellow: #ffc20e;
    --mskcc-light-yellow: #ffe100;
    --mskcc-dark-gray: #9e9e98;
    --mskcc-light-gray: #d5d4c7;
    --material-gray: #eceff1;
  }

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100vh;
    width: 100vw;
    overflow: auto;
}
.flex-container {
    display: flex;
}
.background-image-homepage {
    margin: 100px auto;
}
.header {
    background-color: var(--mskcc-medium-blue) !important;
    color: white;
    grid-area: 'header';
}
.header .avatar {
    width: 26px;
    height: 30px;
    padding: 10px;
}
.header .title {
    margin-right: 2em;
}
.header .navlink {
    color: white;
    text-decoration: none;
    margin-right: 1em;
    padding-left: 1em;
}
.header .navlink:hover {
    cursor: pointer;
}
.header .search {
    padding: 2px 4px;
    grid-area: 'search';
    display: flex;
    height: min-content;
    align-items: center;
    max-width: 80%;
    margin-left: auto;
}
.header .textField {
    padding-left: 8px;
}
.header .iconButton {
    padding: 10px
}

.content {
    width: 100%;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

._loading_overlay_overlay {
    background: rgba(0, 48, 77, 0.5) !important;
    height: 100vh !important;
}

.passed {
    color: black;
    text-align: center;
    background-color: var(--mskcc-light-green);
}
.try {
    color: black;
    text-align: center;
    background-color: var(--mskcc-dark-yellow);
}

.failed,
.pathology-status {
    color: white;
    text-align: center;
    background-color: var(--mskcc-red);
}

.download-icon {
    cursor: pointer;
    color: #006098;
    text-align: center;
    white-space: normal !important;
}
.show-icon {
    cursor: pointer;
    color: #006098;
}
.download-icon a {
    text-decoration: none;
    color: inherit;
}

.swal2-content .swal-comment-review {
    text-align: left;
}

.htDimmed {
    color: black !important;

    background-color: var(--material-gray) !important;
}
.recipients-col {
    text-align: right !important;
}

.handsontable th {
    text-align: center !important;
    vertical-align: middle !important;
}

.handsontable td {
    text-align: right !important;
    vertical-align: middle !important;
}

.pending .htDimmed {
    text-align: center !important;
    vertical-align: middle !important;
}

.handsontable th {
    background-color: rgba(143, 199, 232, 0.4) !important;
    font-weight: bold !important;
}

.handsontable .htCheckboxRendererInput {
    height: 2em !important;
}

.listbox .htDimmed {
    background-color: white !important;
    font-size: 1em !important;
    padding-bottom: 5px !important;
    border-bottom: 1px solid lightgray !important;
    border-left: 1px solid lightgray !important;
    border-right: 1px solid lightgray !important;
}

.handsontable.listbox tr td.current,
.handsontable.listbox tr:hover td {
    background: rgba(143, 199, 232, 0.4) !important;
}

.MuiTab-wrapper {
    flex-direction: row-reverse !important;
    gap: 5px;
}

.icon-key {
    font-size: small;
    color: gray;
}
.icon-key svg {
    vertical-align: middle;
}
.lab-card-content svg {
    vertical-align: middle;
}